@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --clr-black: #1c1c1c;
  --clr-gray: #ececec;
  --clr-white: #f7f7f7;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}
h2 {
  font-size: 16px;
  font-weight: 700;
}
p {
  font-size: 12px;
  font-weight: 400;
}

p strong {
  font-size: 12px;
  font-weight: 600;
}

button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

img {
  width: 100%;
  object-fit: contain;
}

body {
  min-height: 100vh;
  background-color: var(--clr-gray);
}

header {
  padding: 1rem;
  background-color: var(--clr-white);
  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  margin-top: 50px;
  padding: 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  input[type="search"],
  select {
    box-shadow: 2px 2px 2rem rgba(0, 0, 0, 0.087);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
  }

  select {
    display: inline-block;
    width: 100px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
      linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  select::-ms-expand {
    display: none;
  }
}

.countries {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 376px) {
  .countries {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 700px) {
  .countries {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .countries {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
  }
}

.country {
  background-color: var(--clr-white);
  border-radius: 5px;
  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.25);
}

.country-info {
  padding-inline: 15px;
  padding-bottom: 30px;

  h2 {
    margin-bottom: 15px;
  }
}

.datos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.country-img {
  width: 100%;

  img {
    border-radius: 5px;
  }
}
